	<style>
	:root {
		--text-font: 'Google Sans';
		--heading-font: 'Raleway';
		--licorice: #261c15;
		--darker-licorice: #180f0a;
		--light-green: #61e786;
		--darker-light-green: #4e9e5d;
		--blue-crayola: #3772ff;
		--darker-blue-crayola: #2053b2;
		--tomato: #ff4b3e;
		--darker-tomato: #b5372e;
		--azure: #357ded;
		--darker-azure: #124ea3;
		--ghost-white: #f1f1f1;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		width: 100vw;
		overflow-x: hidden;
		font-family: var(--text-font);
		background: linear-gradient(var(--light-green), var(--tomato));
		color: var(--ghost-white);
	}

	.content {
		padding: 50px;
		text-align: center;
	}

	.section-heading {
		font-size: 24px;
		margin-bottom: 20px;
		font-family: var(--heading-font);
		text-shadow: 0px 0px 30px #CCA623aa;
	}

	.whitespace {
		width: 100%;
		height: 100px;
	}
	</style> <!-- General Styles -->
	<style>
	::-webkit-scrollbar {
		width: 12px;
	}

	::-webkit-scrollbar-track {
		background: linear-gradient(var(--ghost-white), #C5C5C5);
	}

	::-webkit-scrollbar-thumb {
		background: linear-gradient(var(--light-green), var(--darker-light-green));
	}
	</style> <!-- Custom Scrollbar Styles -->
	<style>
	.header {
		text-align: center;
		font-family: var(--heading-font);
		padding: 50px 0;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 350px;
		background-color: var(--licorice);
		-webkit-clip-path: ellipse(100% 80% at 50% 0%);
		animation: pulse 5s infinite ease-in-out;
		transition: 1s ease-in-out;
	}

	.header h1 {
		background: -webkit-linear-gradient(45deg, #CCA623, var(--darker-light-green));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: 0px 0px 10px #CCA623aa;
	}

	.header:hover {
		-webkit-clip-path: ellipse(100% 90% at 50% 0%);
	}

	.header::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Waterfall_in_forest.jpg/640px-Waterfall_in_forest.jpg');
		opacity: 0.6;
		z-index: -1;
	}

	@keyframes pulse {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.1);
		}

		100% {
			transform: scale(1);
		}
	}
	</style> <!-- Header/Hero Styles -->
	<style>
	.navbar {
		top: 0;
		z-index: 999;
		margin-bottom: 20px;
	}

	.navbar-links {
		list-style: none;
		display: flex;
		gap: 20px;
		text-align: center;
		font-weight: bold;
		font-family: var(--heading-font);
	}

	.navbar-links li {
		font-size: 20px;
	}

	.navbar-links li a {
		color: var(--azure);
		text-decoration: none;
	}
	</style> <!-- Navbar Styles -->
	<style>
	.about {
		padding: 50px;
		background-color: var(--darker-licorice);
		color: var(--ghost-white);
		text-align: center;
	}

	.about-content {
		margin-top: 30px;
		font-size: 18px;
		line-height: 1.6;
	}

	.about strong {
		font-weight: bold;
		color: var(--light-green);
	}

	.about p {
		margin-bottom: 20px;
	}

	/* Center the section heading */
	.section-heading {
		margin: 0 auto 20px;
		text-align: center;
	}
	</style> <!-- About Styles -->
	<style>
	.activities {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 50px;
	}

	.activity {
		width: 30%;
		padding: 20px;
		margin: 10px;
		background: linear-gradient(to bottom, var(--blue-crayola), var(--darker-blue-crayola));
		text-align: center;
		box-shadow: 0 4px 8px var(--licorice);
		transition: all 0.3s ease-in-out;
		border-radius: 2px;
	}

	.activity img {
		box-shadow: 10px 10px 5px var(--darker-licorice);
		width: 90%;
		height: auto px;
		transition: all .5s;
		border-radius: 15px;
	}

	.activity img:hover {
		transform: scale(1.1);
		border-radius: 50px;
	}

	.activity h3 {
		font-family: var(--heading-font);
		text-shadow: 0px 0px 10px var(--darker-licorice);
	}

	.activity:hover {
		transform: translateY(-10px);
		background-color: #f8f8f8;
		box-shadow: 10px 10px 5px var(--darker-licorice);
	}
	</style> <!-- Activity Styles -->
	<style>
	.destination {
		display: flex;
		align-items: center;
		margin: 20px 0;
	}

	.destination img {
		width: 30vh;
		height: 30vh;
		border-radius: 50%;
		margin-right: 20px;
	}

	.destination-info {
		text-align: left;
	}

	.destination h3 {
		margin: 0;
		font-size: 20px;
		font-family: var(--heading-font);
	}

	.destination p {
		margin-top: 10px;
		font-size: 14px;
	}
	</style> <!-- Destination Styles -->
	<style>
	.image-gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	ul {
		list-style: none;
	}

	.image-gallery>li {
		flex: auto;
		height: 100px;
		cursor: pointer;
		position: relative;
	}

	.image-gallery::after {
		content: "";
		flex-grow: 1000;
	}

	.image-gallery li img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		border-radius: 5px;
		box-shadow: 0 2px 4px var(--licorice);
		transition: all 0.3s ease-in-out;
		filter: grayscale(50%);
	}

	.image-gallery li img:hover {
		transform: scale(1.1);
		filter: grayscale(0%);
		border-radius: 15px;
	}
	</style> <!-- Image Gallery Styles -->
	<style>
	.testimonials {
		padding: 50px;
		text-align: center;
	}

	.testimonial-list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		margin-top: 20px;
	}

	.testimonial {
		width: 45%;
		padding: 20px;
		background-color: var(--darker-light-green);
		border-radius: 5px;
		box-shadow: 0 4px 8px var(--licorice);
		text-align: center;
		transition: all 0.3s ease-in-out;
	}

	.testimonial:hover {
		transform: translateY(-10px);
		background-color: #3e7e4a;
	}

	.testimonial-logo {
		margin-bottom: 10px;
		width: 50px;
		height: 50px;
		background-color: var(--azure);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 10px;
	}

	.testimonial-logo img {
		width: 50px;
		height: 50px;
	}

	.testimonial p {
		margin: 0;
		font-size: 14px;
		line-height: 1.6;
	}

	.author {
		font-weight: bold;
		margin-top: 10px;
	}
	</style> <!-- Testimonials -->
	<style>
	.faq {
		padding: 50px;
		background-color: var(--darker-light-green);
		color: var(--ghost-white);
		text-align: center;
	}

	.faq-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 30px;
	}

	.faq-item {
		flex-basis: calc(50% - 20px);
		padding: 20px;
		margin-bottom: 20px;
		background-color: var(--licorice);
		box-shadow: 0 4px 8px var(--darker-licorice);
		border-radius: 5px;
		text-align: left;
	}

	.faq-item h3 {
		font-size: 20px;
		margin-top: 0;
	}

	.faq-item p {
		font-size: 16px;
		margin-bottom: 0;
	}
	</style> <!-- FAQ Styles -->
	<style>
	.footer {
		background-color: var(--azure);
		color: #fff;
		text-align: center;
		padding: 20px 0;
	}

	.footer p {
		margin: 0;
		font-size: 14px;
	}
	</style> <!-- Footer -->
	<style>
	@keyframes slideIn-Up {
		0% {
			transform: translateY(100px);
		}

		100% {
			transform: translateY(0px);
		}
	}

	@keyframes slideIn-Left {
		0% {
			transform: translateX(-100px);
		}

		100% {
			transform: translateX(0px);
		}
	}

	@keyframes slideIn-Right {
		0% {
			transform: translateX(100px);
		}

		100% {
			transform: translateX(0px);
		}
	}

	.scroll-element {
		opacity: 0;
		transition: 500ms all;
	}

	/*These will be applied when element is in view*/
	.scrolled {
		opacity: 1;
	}

	.scrolled.left {
		animation: slideIn-Left 500ms ease-in-out;
	}

	.scrolled.right {
		animation: slideIn-Right 500ms ease-in-out;
	}

	.scrolled.up {
		animation: slideIn-Up 500ms ease-in-out;
	}
	</style> <!-- Scroll Animations -->
